<div>
  <section class="about_section" style="padding: 150px" id="productSection">
    <!-- Product details will be inserted here -->
  </section>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    fetchProduct();
  });

  function fetchProduct() {
    fetch("/web2024/json/health.json")
      .then((response) => response.json())
      .then((data) => {
        const productSection = document.getElementById("productSection");
        const product = data.health[0]; // Get the first product

        if (product) {
          productSection.innerHTML = `
              <div class="site-section">
                <div class="container">
                  <div class="row">
                    <div class="col-md-5 mr-auto">
                      <div class="border text-center">
                        <img src="${product.picture}" alt="Image" class="img-fluid p-5" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <h2 class="text-black">${product.name}</h2>
                      <p>${product.description}</p>
                      <p>
                        <strong class="h4" style="color: #10e7f4">$${product.price}</strong>
                      </p>
                      <div class="mb-5" style="display: flex; justify-content: center; align-items: center;">
                        <input type="number" class="form-control" value="1" style="width: 200px" />
                      </div>
                      <p>
                        <a class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary" style="background-color: #10e7f4; border-color: #10e7f4; color: #ffffff" onclick="addToCartAlert()">Add To Cart</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            `;
        } else {
          productSection.textContent = "Product not found";
        }
      })
      .catch((error) => {
        console.error("Error fetching product.", error);
      });
  }
</script>

<script>
  function addToCartAlert() {
    alert("Item added successfully!");
    window.location.href = "#buy";
  }
</script>
